.board {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
}

.rounded {
    border: 5px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.square, .piece {
    position: absolute;
    width: 50px;
    height: 50px;
}

.piece {
    cursor: pointer;
}

.black {
    background-color: black;
}

.black.highlight {
    background-color: #5D5DE7;
}

.white {
    background-color: #FFF3F3;
}

.white.highlight {
    background-color: #7D7DE4;
}

.letter-coord {
    bottom: -60px;
    text-align: center;
}

.number-coord {
    left: -60px;
    text-align: center;
}

.white.pawn {
    background: url(img/white-pawn.png);
}

.white.rook {
    background: url(img/white-rook.png);
}

.white.knight {
    background: url(img/white-knight.png);
}

.white.bishop {
    background: url(img/white-bishop.png);
}

.white.queen {
    background: url(img/white-queen.png);
}

.white.king {
    background: url(img/white-king.png);
}

.black.pawn {
    background: url(img/black-pawn.png);
}

.black.rook {
    background: url(img/black-rook.png);
}

.black.knight {
    background: url(img/black-knight.png);
}

.black.bishop {
    background: url(img/black-bishop.png);
}

.black.queen {
    background: url(img/black-queen.png);
}

.black.king {
    background: url(img/black-king.png);
}
