* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

.clearfix {
    clear: both;
}

.heading {
    background-color: black;
    height: 48px;
}

.heading h1 {
    margin: 0;
    padding: 8px;
    color: white;
}

.board, .splash {
    width: 400px;
    height: 400px;
    margin-left: 100px;
    margin-top: 50px;
    position: relative;
}

.splash table {
    padding: 20px;
}

.splash button {
    margin-left: 50px;
}

.panel {
    position: fixed;
    top: 48px;
    right: 0;
    bottom: 0;
    left: 600px;
    background-color: #555;
    display: none;
}

.black-player {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 150px;
}

.white-player {
    padding: 20px;
}

.black-player h3, .white-player h3 {
    margin-top: 0;
    width: calc(100% - 30px);
    float: left;
    color: white;
}

.go-icon {
    width: 30px;
    height: 30px;
    display: none;
    background: url(/static/img/go.png);
    z-index: 20;
    float: left;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px;
    font-size: 11px;
}

#footer a {
    text-decoration: none;
    color: #414141;
}

#footer a:hover {
    text-shadow: 1px 1px 1px #999;
}

#footer img {
    vertical-align: bottom;
}

.rounded {
    border: 5px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.square, .piece {
    position: absolute;
    width: 50px;
    height: 50px;
}

.square.alert {
    background-color: yellow;
}

.square.warning {
    background-color: red;
}

.piece {
    cursor: pointer;
}

.black {
    background-color: black;
}

.black.highlight {
    background-color: #5D5DE7;
}

.white {
    background-color: #FFF3F3;
}

.white.highlight {
    background-color: #7D7DE4;
}

.letter-coord {
    bottom: -60px;
    text-align: center;
}

.number-coord {
    left: -60px;
    text-align: center;
}

.white.pawn {
    background: url(/static/img/white-pawn.png);
}

.white.rook {
    background: url(/static/img/white-rook.png);
}

.white.knight {
    background: url(/static/img/white-knight.png);
}

.white.bishop {
    background: url(/static/img/white-bishop.png);
}

.white.queen {
    background: url(/static/img/white-queen.png);
}

.white.king {
    background: url(/static/img/white-king.png);
}

.black.pawn {
    background: url(/static/img/black-pawn.png);
}

.black.rook {
    background: url(/static/img/black-rook.png);
}

.black.knight {
    background: url(/static/img/black-knight.png);
}

.black.bishop {
    background: url(/static/img/black-bishop.png);
}

.black.queen {
    background: url(/static/img/black-queen.png);
}

.black.king {
    background: url(/static/img/black-king.png);
}
