<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <link rel="shortcut icon" href="knight.ico" />
  <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.3/themes/dark-hive/jquery-ui.css" />
  <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Montserrat' />
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <title>ChessJS</title>
</head>
<body>
  <div class="heading"><h1>ChessJS</h1></div>
  <div class="panel">
    <div class="black-player">
      <h3>Black Player</h3>
      <div class="go-icon"></div>
      <div class="clearfix"></div>
    </div>
    <hr>
    <div class="white-player">
      <h3>White Player</h3>
      <div class="go-icon"></div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div id="footer">
    &copy; MillerTime 2015 &nbsp; | &nbsp;
    <a href="https://github.com/miller-time/chess.js">
      <img src="https://assets-cdn.github.com/favicon.ico" width="16" height="16">
      <b>see it on github</b>
    </a>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>

  <script src="/static/js/util.js"></script>
  <script src="/static/js/game.js"></script>
  <script src="/static/js/board.js"></script>
  <script src="/static/js/pieces.js"></script>
  <script src="/static/js/chess.js"></script>
</body>
</html>
